<html>

<head>
    <script src="/libraries/jquery.js"></script>
    <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/libraries/animate.css">
    <link rel="stylesheet" href="/libraries/chessboard-1.0.0.min.css">
    <script src="/js/admin.js"></script>
    <title>Chess Game</title>
</head>

<body>

    <div class="navbar">
        <a class="logo" href="/">
            <img src="../img/logo.png" width="40" height="40">
            <span class="logoname">chess admin</span>
        </a>
    </div>


    <div class="mainpage">
        <div class="tabs">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">Users</label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">Puzzles</label>

            <div class="content">
                <div id="users">
                    <table class="users-table">
                        <thead class="header">
                            <tr>
                                <th>Username</th>
                                <th>ELO</th>
                                <th>Wins</th>
                                <th>Loses</th>
                                <th>Draws</th>
                                <th>Date Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody class="tbl-body">
                            {{#each users}}
                            <tr id="{{_id}}">
                                <td>{{username}}</td>
                                <td>{{elo}}</td>
                                <td>{{wins}}</td>
                                <td>{{loses}}</td>
                                <td>{{draws}}</td>
                                <td>{{dateCreated}}</td>
                                <td class="action">
                                    <button data-id="{{_id}}" class="action-btns edit">Edit</button>
                                    <button class="action-btns delete" data-id="{{_id}}">Delete</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>

                    </table>
                    <form action="/user/edituser" method="get" id="edit">
                        <input type="hidden" id="editid" name="id">
                    </form>

                    <form action="/user/deleteuser" method="post" id="delete">
                        <input type="hidden" id="deleteid" name="id">
                    </form>
                </div>

                <div id="puzzles">
                    <table class="puzzles-table">
                        <thead class="header">
                            <tr class="header">
                                <th>Name</th>
                                <th>Fen</th>
                                <th>Difficulty</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody class="tbl-body">
                        
                            {{#each puzzles}}
                                    <tr id={{_id}}>
                                        <td>{{name}}</td>
                                        <td>{{fen}}</td>
                                        <td>{{difficulty}}</td>
                                        <td class="action">
                                            {{!-- <a href="" class="action-btns">Edit</a> --}}
                                        <button data-id ={{_id}} class="action-btns deletePuzzle">Delete</button>
                                    </tr>
                            {{/each}}    

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>

</body>

</html>