<html>

<head>
    <script src="/libraries/jquery.js"></script>
    <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
    <link rel="stylesheet" href="/css/edit-user.css">
    <link rel="stylesheet" href="/libraries/animate.css">

    <title>Chess Game</title>
</head>

<body>

    <div class="navbar">
        <a class="logo" href="/">
            <img src="/img/logo.png" width="40" height="40">
            <span class="logoname">chess</span>
        </a>
    </div>


    <div class="mainpage">

        <div class="edit-div">
            <div class="header"><span class="label">Edit Data</span></div>
            <form action="edituser" method="POST" class="input" autocomplete="off">
                <span class="lbl">Username</span>
                <input class="input-box" name="username" type="text" value="{{user.username}}">
                <br>
                <span class="lbl">ELO</span>
                <input class="input-box" name="elo" type="text" value="{{user.elo}}">
                <br>                
                <span class="lbl">Wins</span>
                <input class="input-box" name="wins" type="text" value="{{user.wins}}">
                <br>                
                <span class="lbl">Loses</span>
                <input class="input-box" name="loses" type="text" value="{{user.loses}}">
                <br>                
                <span class="lbl">Draws</span>
                <input class="input-box" name="draws" type="text" value="{{user.draws}}">
                <input type="hidden" name="id" value="{{user._id}}">
                <br>
                <a href="/admin" class="cancel-edit">Cancel</a>
                <input class="edit" name="submit" type="submit">
            </form>
        </div>
    </div>

</body>

</html>