<html>

    <head>

        <script src="../libraries/jquery.js"></script>
        <link rel="shortcut icon" type="image/png" href="../img/pagelogo.png">
        <link rel="stylesheet" href="../css/profile.css">
        <link rel="stylesheet" href="../libraries/animate.css">
        <script src="../js/profile.js"></script>
        <title>Chess Game</title>
    </head>

    <body>

        <div class="navbar">
            
            <a class="logo" href="/">
                <img src="/img/logo.png" width="40" height="40">
                <span class="logoname">chess</span>
            </a>
            
            <div class= " nav">

                <a class="nav-a active hvr-grow" href="/profile">{{username}}</a>
                <a class="nav-a hvr-grow" href="/about">About Us</a>
                <a class="nav-a hvr-grow" href="/rooms">Rooms</a>
                <a class="nav-a hvr-grow" href="play">Play</a>

            </div>
        </div>
        
        <div class="mainpage">
            <div class="profile-details">

                <div class="profile-handle">
                    <img class="profile-img" src="../img/pagelogo.png" alt="">
                    <div class="profile-description">
                        <a class="settings" href="/logout">Log Out</a>                            
                        <a class="username">{{username}}</a>
                        <br><br>
                        <span class="details-lbl">Rate: </span>
                        <span class ="detail">{{elo}}</span>
                        <br>
                        <span class="details-lbl">Joined : </span>
                        <span class="detail">{{dateCreated}}</span>
                        <br>

                    </div>
                </div>

                <div class="player-info">
                    <div class="div-stats">
                        <div class="stat">
                            <span class="stat-lbl" style="color: yellow">Games Played</span>
                            <br>
                            <span class="stat-count">{{gamesPlayed}}</span>
                        </div>
    
                        <div class="stat">
                            <span class="stat-lbl" style="color: green">Wins</span>
                            <br>
                            <span class="stat-count">{{wins}}</span>
                        </div>
                        <div class="stat">
                            <span class="stat-lbl" style="color: red">Loses</span>
                            <br>
                            <span class="stat-count">{{loses}}</span>
                        </div>
                        <div class="stat">
                            <span class="stat-lbl" style="color: lightgray">Draw</span>
                            <br>
                            <span class="stat-count">{{draws}}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </body>

</html>