<html>

<head>
    <script src="/libraries/jquery.js"></script>
    <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
    <link rel="stylesheet" href="/css/rooms.css">
    <link rel="stylesheet" href="/libraries/animate.css">
    <link rel="stylesheet" href="/libraries/chessboard-1.0.0.min.css">


    <title>Chess Game</title>
</head>

<body>

    <div class="navbar">
        <a class="logo" href="/">
            <img src="/img/logo.png" width="40" height="40">
            <span class="logoname">chess</span>
        </a>
        <div class=" nav">

            <a class="nav-a hvr-grow" href="/profile">{{username}}</a>
            <a class="nav-a hvr-grow" href="/about">About Us</a>
            <a class="nav-a active hvr-grow" href="/rooms">Rooms</a>
            <a class="nav-a hvr-grow" href="/play">Play</a>
        </div>
    </div>

    <div class="mainpage">
        <div class="available">
            <div class="header"><span class="header-lbl">Available Rooms</span></div>

            <div id="roomContainer" class="room-divs">
                {{#each rooms}}
                <div class="room {{@key}}">
                    <div class="room-details">
                        <span class="room-name">{{@key}}</span>
                        {{!-- <span class="created-by">Created By: <a href="" class="owner">Andrew</a></span> --}}
                        {{!-- <span class="created-by">Created By: <a href="" class="owner">{{username}}</a></span> --}}
                    </div>
                    <a href="/rooms/{{@key}}" class="join">Join</a>
                </div>
                {{/each}}
            </div>

            <div class="create-room">
                <a href="" class="refresh-btn">Refresh</a>

                <label class="create-btn">
                    <input type="checkbox" class="trigger">
                    <div class="overlay">
                        <form action="/rooms/room" method="POST" class="create-form">
                            <div class="room-name"><span class="name">Create Room</span></div>

                            <div class="input">
                                <input class="input-box" type="text" name="room" autocomplete="off" placeholder="Enter the room name ...">
                            </div>

                            <a href="" class="cancel-game">Cancel</a>
                            <input type="submit" value="Create Room" class="create-game">
                        </form>
                    </div>
                    Create Room
                </label>
            </div>

        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socketscript.js"></script>
</body>

</html>