<html>

<head>

    <script src="/libraries/jquery.js"></script>
    <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
    <link rel="stylesheet" href="/css/waiting-room.css">
    <link rel="stylesheet" href="/libraries/animate.css">

    <title>Chess Game</title>
</head>

<body>

    <div class="navbar">

        <img src="../img/logo.png" width="40" height="40">
        <span class="logoname">chess</span>
        <div class=" nav">

            <a class="nav-a hvr-grow" href="">{{username}}</a>
            <a class="nav-a hvr-grow" href="">Rooms</a>
            <a class="nav-a hvr-grow" href="">Home</a>
            <a class="nav-a active hvr-grow" href="">Play</a>
        </div>
    </div>


    <div class="mainpage">
        <div class="waiting-div">
            {{!-- <div class="room-name"><span class="name">Room name</span></div> --}}
            <div class="room-name"><span class="name">{{roomName}}</span></div>


            <div class="info">
                <div class="name"><span id="p1Name" class="my-info">{{player1}}</span></div>
                {{!-- <span class="my-info" id="rank">Rank: <span class="opponent-info" id="rank">{{elo}}</span></span> --}}
                <span class="ready-player1" style="display:none"> Ready</span>
            </div>

            <div class="opponent">
                <div class="name"><span id="p2Name" class="opponent-info">{{player2}}</span></div>
                {{!-- <span class="opponent-info" id="opp-rank"> Rank: <span class="opponent-info" id="rank"></span>{{p2elo}}</span> --}}
                <span class="ready-player2" style="display:none"> Ready</span>
            </div>
            <br>

            <a href="/rooms" class="exit-game">Exit</a>
            <button id="readyButton" class="start-game">Ready</button>

        </div>

    </div>
    <script>
        const room = "{{roomName}}"
        const name = "{{username}}"
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socketscript.js"></script>
</body>

</html>